.glass-card {
  background-color: rgba(0, 0, 0, 0.021);
  backdrop-filter: blur(25px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.226);
  animation: fadeInUp 0.8s ease-in-out forwards;
  opacity: 0;
}

.glass-card:nth-child(1) { animation-delay: 0.1s; }
.glass-card:nth-child(2) { animation-delay: 0.2s; }
.glass-card:nth-child(3) { animation-delay: 0.3s; }
.glass-card:nth-child(4) { animation-delay: 0.4s; }
.glass-card:nth-child(5) { animation-delay: 0.5s; }
.glass-card:nth-child(n+6) { animation-delay: 0.6s; }

// 全局动画效果
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.float-animation {
  animation: float 6s ease-in-out infinite;
}

// Home布局样式
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textHeader {
  margin-top: -35px;
}

.Hometitle {
  font-size: 3.0rem;
  display: flex;
  justify-content: center;
  animation: fadeInUp 0.8s ease-in-out forwards;
  opacity: 0;
  animation-delay: 0.1s;
  font-family: "Pixelify Sans", sans-serif;
}

.Hometitle h1 { 
background: linear-gradient(90deg, rgba(255, 255, 255, 0.95), rgba(78, 186, 163, 0.9));
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    }

.Homesubtitle {
  display: flex
  justify-content: center !important
  align-items: center
  flex-wrap: wrap
  gap: 15px
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.95), rgba(78, 186, 163, 0.9));
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  background-clip: text
  font-size: 1.5rem;
  font-family: "Pixelify Sans", sans-serif;
  margin-top: -10px;
}

// Wrapper para centrar el bloque
.container-wrapper
  display flex
  justify-content center
  align-items center
  background transparent

.container-bloque
  position relative
  width 70%
  padding 1.5rem
  background rgba(0, 0, 0, 0.18)
  border-radius 1rem
  box-shadow 0 0 20px rgba(0, 0, 0, 0.2)
  color #f0f0f0
  font-size 0.95rem
  overflow visible
  transition all 0.3s ease

.container-bloque p {
  font-family: 'Inter', sans-serif;
  line-height: 1.55;
}

.container-bloque .timeline {
    position: relative
    padding-left: 2rem
    margin: 2rem 0
    
    &::before {
      content: ""
      position: absolute
      left: 0
      top: 0
      width: 4px
      height: 100%
      background: linear-gradient(to bottom, 
        rgba(255, 255, 255, 0.2), 
        rgba(1, 162, 190, 0.4), 
        rgba(255, 255, 255, 0.2))
      border-radius: 2px
    }

    .timeline-item h4 {
      font-family: 'Pixelify Sans', sans-serif;
      padding-bottom: 4px;
    }

    .timeline-item {
      position: relative
      margin-bottom: 2rem
      line-height: 1.55;
      font-family: sans;
      font-family: 'Inter', sans-serif;
      
      &::before {
        content: ""
        position: absolute
        width: 12px
        height: 12px
        border-radius: 50%
        background-color: rgba(1, 162, 190, 0.8)
        border: 2px solid rgba(255, 255, 255, 0.3)
        left: -2.3rem
        top: 0.3rem
      }
    }
  }

.pokeBlue
  position absolute
  top -25px
  right 0px
  width 90px
  height auto
  opacity 0.9
  z-index 10
  pointer-events none
  filter drop-shadow(0 0 6px rgba(46, 46, 46, 0.3))


.pokeRed
  position absolute
  top -20px
  right -25px
  width 100px
  height auto
  opacity 0.9
  z-index 10
  pointer-events none
  filter drop-shadow(0 0 6px rgba(46, 46, 46, 0.3))
  margin-left: 5px;

.vimSkills
  position absolute
  top -25px
  left -25px  
  width 88px
  height auto
  opacity 0.9
  z-index 10
  pointer-events none
  filter drop-shadow(0 0 6px rgba(46, 46, 46, 0.3))

// SKILLS SECTION

.categorySkills {
      background: rgba(255, 255, 255, 0);
      margin-bottom: 0.7rem;
      margin-left: -10px;
      border-radius: 16px;
    }

    .categorySkills h2 {
      font-size: 22px;
      padding-top: 0.9rem
      margin-bottom: 20px;
      font-family: 'Pixelify Sans', sans-serif;
    }

    .badges {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    .badge {
      background: rgba(255, 255, 255, 0.08);
      padding: 4px 12px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      gap: 9px;
      font-size: 13px;
    }

    .badge img {
      width: 18px;
      height: 18px;
    }

.targets-container {
  display: flex;
  gap: 1rem; 
  text-decoration: none !important;
  }

  .targets-container a {
    text-decoration: none !important;
  }

.targets-container a img {  
  text-decoration: none !important;
  width: 13rem; 
  height: auto;
  border-radius: 0.5rem; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  overflow: hidden;
  border: none;
  text-decoration: none;
}

// BLOG SECTION

.containerNewsletter {
  margin-top: 50px;
}

//BUTTON

.blockSpan { 
  font-family: 'Press Start 2P', sans-serif;
  font-size: 1rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.95), rgba(78, 186, 163, 0.9));
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    float: left;
}

.blockSpan2 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 1rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.95), rgba(78, 186, 163, 0.9));
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    background-clip: text
    float: left; 
}

.blockSpan3 {
  font-family: 'Press Start 2P', sans-serif;
  font-size: 1rem;
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0.95), rgba(78, 186, 163, 0.9));
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    float: right;
}

.buttonHome {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 18px;
  margin-bottom: 60px;
}

.portfolio-button
    background: #81E6D9
    border none
    border-radius 8px // Slightly rounded corners
    padding 12px 24px // Vertical and horizontal padding
    font-family: 'Pixelify Sans', sans-serif; 
    display flex
    align-items center
    justify-content center
    gap 8px // Space between text and arrow
    color:rgb(0, 0, 0)
    z-index: 5;
    position: relative;
    box-shadow 0 0 20px rgba(0, 0, 0, 0.2)
    transition: all 0.3s ease

    &:hover
      background:rgb(118, 193, 177)
    box-shadow: 0 0 24px rgba(71, 71, 71, 0.35), 0 0 20px rgba(137, 215, 198, 0.5)
    transform: scale(1.05)
    cursor: pointer
    animation: buttonGlow 1.5s ease-in-out infinite


.portfolio-button .arrow
    font-size 1.2em 
    margin-left 4px

// Avatar pokemon

.homeImage {
  display: flex; 
  justify-content: center;
  align-items: center; 
  margin-bottom: 30px;
}

// ───── MEDIA QUERIES ─────

@media (max-width: 768px)
  .Homesubtitle { 
    text-align: center;
    font-size: 1rem;
  }

  .portfolio-button {
    padding: 1px 19px; 
  }

  .containerText {
  }

  .container-bloque
    width 85%
    font-size 0.9rem
    padding 1.2rem

  .vimSkills 
    width 60px
    top -10px
    left -5px

  .pokeBlue
    width 60px
    top -10px
    right 0px

  .pokeRed
    width 60px
    top -10px
    right 0px
 

  .Hometitle h1
    font-size 3.8rem

  .containerNewsletter
   margin-top: 50px;
  

@media (max-width: 480px)
  .blockSpan { 
   font-size: .8rem; 
  }

  .blockSpan2 { 
   font-size: .8rem; 
  }

  .blockSpan3 {
   font-size: .8rem;
   display: block;
  }

  .portfolio-button {
    padding: 0px 20px; 
  }

  .container-bloque
    width 95%
    font-size 0.85rem
    padding 1rem

  .vimSkills
    width: 50px;


  .pokeBlue
    width 50px
    top -10px
    right 0px
    
   .pokeRed
    width 55px
    top -10px
    right 0px

  .targets-container a img 
    width: 9rem; 
  


  .Hometitle h1
    font-size 4.8rem