.social-links {
  display: flex
  justify-content: center
  align-items: center
  margin: 5px auto
  width: 100%
  max-width: 800px
  
  ul {
    display: flex
    flex-wrap: wrap
    justify-content: center
    list-style: none
    padding: 0
    margin: 0
    gap: 5px
  }
  
  li {
    margin: 5px
  }
  
  a {
    display: flex
    align-items: center
    justify-content: center
    width: 25px
    height: 25px
    border-radius: 20%
    transition: all 0.3s ease
    color: #000000ff
    text-decoration: none
    background: #81E6D9
    
    &:hover {
      transform: translateY(-3px)
      background:rgb(118, 193, 177)
      animation: buttonGlow 1.5s ease-in-out infinite
      box-shadow: 0 0 10px rgba(71, 71, 71, 0.35), 0 0 20px rgba(137, 215, 198, 0.5)
    }
  }
  
  i {
    font-size: 1.5rem
  }
}

/* 为bilibili自定义图标 */
.custom-icon {
  font-style: normal
  font-weight: bold
  font-size: 1.3rem
}

.sr-only {
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0, 0, 0, 0)
  white-space: nowrap
}

/* 添加svg图标的样式 */
.icon-container {
  svg {
    width: 13px
    height: 13px
    font-size: 1.5rem
  }
}

/* 响应式调整 */
@media (max-width: 768px) {
  .social-links {
    margin: 20px auto
    
    ul {
      gap: 5px
    }
    
    a {
      width: 44px
      height: 44px
    }
  }
}

@media (max-width: 480px) {
  .social-links {
    a {
      width: 40px
      height: 40px
    }
    
    i, .icon-container svg {
      font-size: 1.2rem
    }
  }
}