.containerTerminal {
  margin-bottom: 90px;
}

.terminal {
  background-color: #002b36ba;
  color: #ffffff;
  font-family: monospace;
  padding: 1rem;
  border-radius: 8px;
  max-width: 70%;
  margin: 0 auto;
  box-shadow: 0 0 10px #002b368e;
  font-family: monospace
  margin-top: 90px;
  position: relative;
}

.output {
  min-height: 150px;
  margin-top: 70px;
  margin-bottom: 0.5rem;
  white-space: pre-wrap;
  max-height: 300px;
  overflow-y: auto;
  font-family: monospace
  font-size: 18px;
}

.input-line {
  display: flex;
  align-items: center;
}

.prompt {
  margin-right: 5px;
  color: #00ffff; /* cyan */
}

#cmdInput {
  background: none;
  border: none;
  color: #ffffff;
  outline: none;
  flex-grow: 1;
  font-family: inherit;
  font-size: 18px;
}

#cmdInput::placeholder {
  color: #33A1FD;
  font-style: italic;
}

.tuxProjects {
  position absolute
  top -25px
  left -15px
  width 80px
  height auto
  opacity 0.9
  z-index 10
  pointer-events none
  filter drop-shadow(0 0 6px rgba(46, 46, 46, 0.3))
  float: left;
}

@media (max-width: 768px) {
    .terminal { 
        max-width: 85%;
    }

    .tuxProjects {
    width 50px
    top -20px
    left -5px
    }
}

@media (max-width: 480px) {
    .terminal { 
        max-width: 95%;
    }

    .tuxProjects {
    width 50px
    top -15px
    left -5px
    }
}