.terminal {
  background-color:rgb(0, 34, 64);
  color: #ffffff;
  font-family: monospace;
  padding: 1rem;
  border-radius: 8px;
  max-width: 70%;
  margin: 0 auto;
  box-shadow: 0 0 10px #003366;
  font-family: 'Pixelify Sans', 'Fira Code'
  margin-top: 90px;
  margin-bottom: 90px;
  position: relative;
}

.output {
  min-height: 150px;
  margin-bottom: 0.5rem;
  white-space: pre-wrap;
  max-height: 300px;
  overflow-y: auto;
  font-family: 'Pixelify Sans', 'Fira Code'
  font-size: 18px;
}

.input-line {
  display: flex;
  align-items: center;
}

.prompt {
  margin-right: 5px;
  color: #00ffff; /* cyan */
}

#cmdInput {
  background: none;
  border: none;
  color: #ffffff;
  outline: none;
  flex-grow: 1;
  font-family: inherit;
  font-size: 18px;
}

#cmdInput::placeholder {
  color: #33A1FD;
  font-style: italic;
}

@media (max-width: 768px) {
    .terminal { 
        max-width: 85%;
    }
}