---
import {Image} from 'astro:assets';
---


<div class="mt-14">
    <div class="flex gap-x-6 flex-wrap">
    
        <div data-iframe-width="135" data-iframe-height="270" data-share-badge-id="96e0b6f5-399c-4859-a74f-7edb83c3b675" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
    
        <div data-iframe-width="135" data-iframe-height="270" data-share-badge-id="c6e9e606-6ae9-452c-a0cd-fcd75c50e526" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

    </div>
</div>